# Poetry
/dist/
/.venv/
__pycache__/
__pypackages__/
*.egg-info/
#poetry.lock
.coverage

# Special cases
procrustes
*.pkg.tar.zst
*.deb

# IDE
*.vim
.nvimlog
.projectile
*.geany
.idea
*.sublime-project
*.sublime-workspace
